.section {
    max-width: 1200px;
    display: grid;
   margin: 0 auto;
     height: 60vh;  
    gap: 10px;
     grid-template-areas: 
        "beach food apartment"
        "beach door apartment"
        "living door endlands"

}

body {
    margin: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section > div:nth-child(1) {
   grid-area: beach;
}

.section > div:nth-child(2) {
   grid-area: food;

}

.section > div:nth-child(3) {
   grid-area: apartment;

}

.section > div:nth-child(4) {
   grid-area: living;

}

.section > div:nth-child(5) {
   grid-area: door;

}

.section > div:nth-child(6) {
   grid-area: endlands;

}
