
* {
    font-family: system-ui;
}
.repo-section{
  width: 20%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.repo-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.repo-header-logo{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
}

.repo-languages{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
} 

.repo-selected{
    width: 100%;
   border: 2px black solid;
   border-radius: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.wrapper-loader{
    display: flex;
}

.repo-selected-loading, .repo-selected-error {
    display: none;
}

.repo-info-language::before{
    width: 10px;
    height: 10px;
    margin-top: 5px;
    content: '';
    border-radius: 100%;
    display: inline-block;
    background-color: rgb(224, 224, 55);
}
.wrapper-result {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    display: none;
    padding: 10px;
}


.repo-header-title {
    font-size: 1rem;
}

.repo-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.error{
        background-color: rgb(226, 124, 124);
        display: flex;
}
.hidden {
    display: none;
}
.visible {
    display: flex;
}



.repo-selected-description {
    font-size: 0.75rem;
    color: gray;
}

.repo-info{
    font-size: 0.6rem;
}