

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tab-section{
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
    gap: 50px;
    margin: 50px auto;
}

.nav-section{
   display: flex;
   gap: 20px;
}

.tab-selected {
    border-bottom: 1px solid black;
}

.nav-content{
    display: none;
    
}

.selected {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-display{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.content-display-text  {
   color: white;
}
