.story-creator{
  display: flex;
}

.story-creator-button{
    border: 3px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: rgb(28, 29, 29);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px solid #ccc;
  width: 50px;
  height: 50px; 
  border-radius: 100%;
  position: relative;
}

.custom-file-upload::after{
    display: flex;
     width: 50px;
  height: 50px; 
    font-size: 3rem;
    content: "+";
    color: white;
    justify-content: center;
  align-items: center;
}